@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Fjalla+One|VT323');

body {
    background-image: url("sea.jpeg");
}

h1, p {
  font-family: 'Fjalla One', sans-serif;
}

h4 {
  font-family: 'VT323', monospace;
}

nav {
  background-color: black !important;
}

.main {
    background: rgba(0,0,0,0.4);
    color: #fff;
}
.square{
  float:left;
  background-color: gray;
  border-color: white;
  border-radius: 1;
  border-width: 1px;
  border-style: solid;
}

#board-container{
  align-items: center;
}
.grid{
  background-color: blue;
  margin: auto;
}

.centerize {
  text-align: center;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
